@model Hospital_Project.Entities.DTOs.DoctorAvailableTimeDTO

@{
    ViewData["Title"] = "تأكيد حذف موعد تواجد الطبيب  ";
}


 <div class="border p-4 shadow-sm"> 
     <dl class="row"> 
         <dt class="col-sm-2">المعرف</dt> 
         <dd class="col-sm-10">@Model.DoctorId</dd> 
        <dt class="col-sm-2">إسم الطبيب</dt>
        <dd class="col-sm-10">@ViewBag.DocName</dd>
        <dt class="col-sm-2">اليوم</dt> 
         <dd class="col-sm-10">@Model.AvailableTimes</dd>
         <dt class="col-sm-2">وقت البدء</dt> 
         <dd class="col-sm-10">@Model.StartTime.ToString("hh:mm tt")</dd> 
         <dt class="col-sm-2">وقت اللإنتهاء </dt> 
         <dd class="col-sm-10">@Model.EndTime.ToString("hh:mm tt")</dd> 
     </dl>

    <form asp-action="DeleteDoctorAvailableTime" method="post">
        <input type="hidden" asp-for="Id" asp-items="ViewBag.DN"/> 
         <button type="submit" class="btn btn-danger">حذف</button>
        <a asp-action="GetAllavailabledates" class="btn btn-secondary">إلغاء</a>
    </form> 
 </div> 


