@model Hospital_Project.Entities.UserDTOs.ResetPassword

@{
    ViewBag.Title = "تغيير كلمة المرور";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h3 class="text-center mb-4">تغيير كلمة المرور</h3>

@using (Html.BeginForm("ResetPassword", "UserInfo", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(m => m.Email)
    <div class="mb-3 position-relative">
        @Html.LabelFor(m => m.NewPassword, "كلمة المرور الجديدة")
        <div class="input-group" dir="ltr">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "Password" })
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('Password', this)">
                🔒
            </button>
        </div>
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 position-relative">
        @Html.LabelFor(m => m.ConfirmNewPassword, "تأكيد كلمة المرور")
        <div class="input-group" dir="ltr">
            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", id = "ConfirmPassword" })
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('ConfirmPassword', this)">
                🔒
            </button>
        </div>
        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
    </div>



    <button type="submit" class="btn btn-primary w-100">تغيير</button>

    <div class="text-center mt-3">
        <a href="@Url.Action("SignIN", "UserInfo")" class="btn btn-link">العودة لتسجيل الدخول</a>
    </div>
}


