@using Hospital_Project.Entities
@model Hospital_Project.Entities.DTOs.DoctorsDto

@{
    ViewData["Title"] = "حذف طبيب  ";

    var docdept = ViewBag.DocDept as Department;

}

<h2 class="text-center text-danger">هل أنت متأكد أنك تريد حذف هذا الطبيب؟</h2>

<div class="border p-4 shadow-sm">
    <dl class="row">
        <dt class="col-sm-2">الاسم</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">العمر</dt>
        <dd class="col-sm-10">@Model.Age</dd>

        <dt class="col-sm-2">النوع</dt>
        <dd class="col-sm-10">@Model.Gender</dd>

        <dt class="col-sm-2">رقم الهاتف</dt>
        <dd class="col-sm-10">@Model.Phone</dd>  
        <dt class="col-sm-2"> الراتب</dt>
        <dd class="col-sm-10">@Model.Salary</dd>

        <dt class="col-sm-2">التخصص</dt>
        <dd class="col-sm-10">@docdept.Name</dd>

        <dt class="col-sm-2">الرتبة الطبية</dt>
        <dd class="col-sm-10">@Model.DoctorRank</dd>  
        <dt class="col-sm-2"> سعر الكشف</dt>
        <dd class="col-sm-10">@Model.Salary</dd>
    </dl>

    <form asp-action="DeleteDoctor" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">حذف</button>
        <a asp-action="GetDoctors" class="btn btn-secondary">إلغاء</a>
    </form>
</div>
